/* src/styles/global.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #333;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}
/* src/styles/global.css */
body {
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
}

/* HTML: <div class="loader"></div> */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loader {
    width: 140px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #f03355;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    animation: l1 2s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes l1 {
    33% {
        border-radius: 0;
        background: #514b82;
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    66% {
        border-radius: 0;
        background: #ffa516;
        clip-path: polygon(50% 0,50% 0,100% 100%,0 100%);
    }
}
