/* General styling for the property details */
.property-details {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.btnContainer{
    display: flex;
    flex-direction: row;
}
.bacBtn{
    border: none;
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.bacBtn:hover {
    background-color: #b30000;
}
.bacBtn a{
    text-decoration: none !important;
    font-size: 1em;
    color: #fff;
}
.btnInterested{
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none !important;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btnInterested:hover {
    background-color: #0030b3;
}



.seller-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .property-details {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .property-details {
        padding: 5px;
    }

    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    button {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}
